<h3>These works</h3>

<%= link_to "Switch off turbolinks with data-turbolinks=false (WORKS)", "/test", 'data-turbolinks': false %><br><br>

<%= link_to "Vue with no eventListener", "/test4" %><br><br>

<%= link_to "Vue with no eventListener 2", "/test7" %><br><br>

<%= link_to "with turbolink + turbolink fix (WORKS)", "/test2" %> <br><br>

<%= link_to "with vue-turbolinks (WORKS)", "/test3" %><br><br>

<%= link_to "Turbolinks:Load", "/test5" %> <br><br>

<h3>These don't work</h3>

<%= link_to "with turbolink (DON'T WORK)", "/test" %> <br><br>

<%= link_to "Testing Event", "/test6" %> <br><br>
